@use '../../styles/variables' as *;

.button {
  text-transform: capitalize;
  background-color: transparent;
  color: map-get($map: $colors, $key: main);
  height: 2.5rem;
  border-radius: 0.3125rem;
  transition: $transition;
  font-weight: bold;
  border: 0.125rem solid map-get($map: $colors, $key: main);
  cursor: pointer;
  padding: 0.625rem 1.25rem;

  &.w-100 {
    width: 100%;
  }

  &.fill {
    background-color: map-get($map: $colors, $key: main);
    color: map-get($map: $colors, $key: main-white);

    &:hover {
      background-color: transparent;
      color: map-get($map: $colors, $key: main);
    }
  }

  &:hover {
    background-color: map-get($map: $colors, $key: main);
    color: map-get($map: $colors, $key: main-white);
  }
}
