@use '../../styles/variables' as *;

.registration {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .wrapper {
    background-color: map-get($map: $colors, $key: main-white);
    border-radius: 0.625rem;
  }
}
