@use '../../styles/variables' as *;

.main {
  min-height: 100vh;
  display: flex;

  .content {
    flex-grow: 1;
    font-size: 1.2rem;
  }

  .wrapper {
    padding: 1.25rem;

    .cards {
      display: flex;
      grid-template: 1.25rem;

      & > *:nth-child(even) {
      }
    }
  }
}
