@use '../../styles/variables' as *;

.main {
  min-height: 100vh;
  display: flex;

  .content {
    flex-grow: 1;
    font-size: 1.2rem;
  }

  .wrapper {
    padding: 1.25rem;

    .cards {
      display: flex;
      gap: 1.25rem;
      justify-content: space-between;

      @include smMax {
        flex-direction: column;

        & > * {
          width: 100% !important;
        }
      }

      & > *:nth-child(even) {
        width: 30%;
      }

      & > *:nth-child(odd) {
        width: calc(70% - 1.25rem);
      }
    }
  }
}
