@use '../../styles/variables' as *;

.sidebar {
  width: 0;
  min-width: 0;
  box-shadow: $box-shadow;
  padding: 1.25rem 0 1.25rem;
  background: map-get($map: $colors, $key: main);
  background: linear-gradient(
    180deg,
    map-get($map: $colors, $key: main) 0%,
    map-get($map: $colors, $key: main-alt) 100%
  );
  transition: $transition;
  overflow: hidden;

  &.active {
    width: 30%;
    min-width: 16rem;

    @include smMax {
      width: 100%;
      min-width: 100%;

      & ~ * {
        display: none;
      }
    }
  }

  .close {
    text-align: end;
    padding: 1.25rem;
    display: none;

    @include smMax {
      display: block;
    }

    button {
      background-color: transparent;
      color: map-get($map: $colors, $key: white);
      cursor: pointer;
      border: none;
      font-size: inherit;
    }
  }

  h3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: map-get($map: $colors, $key: white);
    text-align: center;
    text-transform: capitalize;
    font-size: 1.875rem;
  }

  ul {
    margin: 0;

    li {
      a {
        transition: $transition;
        display: flex;
        align-items: center;
        font-size: 0.9375rem;
        color: map-get($map: $colors, $key: white);
        padding: 1.25rem 0;
        padding-#{$left}: 1.25rem;

        &:hover,
        &.active {
          background-color: map-get($map: $colors, $key: white);
          color: map-get($map: $colors, $key: black);
          border-#{$left}: 0.3125rem solid map-get($map: $colors, $key: black);
        }

        span {
          font-size: 1.125rem;
          margin-#{$left}: 0.9375rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
