@use '../../styles/variables' as *;

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  background-color: map-get($map: $colors, $key: main-white);
  padding: 1.25rem;
  border-radius: 0.3125rem;

  & > * {
    max-width: 50%;
    padding: 0.625rem;

    @include smMax {
      max-width: 100%;
    }
  }

  .text {
    h2 {
      margin-top: 0;
      margin-bottom: 1.25rem;
      color: map-get($map: $colors, $key: main);
    }

    p {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }

    span {
      color: map-get($map: $colors, $key: 888);
    }

    div {
      margin-top: 1.25rem;
    }
  }

  .img {
    img {
      width: 90%;
    }

    @include smMax {
      display: none;
    }
  }
}
