@use '../../../styles/variables' as *;

.signin-form {
  text-align: center;

  .heading {
    h1 {
      font-size: 2rem;
    }
  }

  .form {
    .input-control {
      margin-bottom: 0.625rem;

      &:nth-last-child(2) {
        margin-bottom: 1.25rem;
      }

      input {
        padding: 0.625rem;
        border-radius: 0.625rem;
        min-width: 20rem;
      }

      p {
        text-transform: capitalize;
        user-select: none;

        span {
          color: map-get($map: $colors, $key: main-blue);
          cursor: pointer;
        }
      }
    }
  }
}
