@use '../../styles/variables' as *;

.due {
  .title {
    text-transform: capitalize;
    margin-bottom: 0.625rem;

    span {
      color: map-get($map: $colors, $key: main);
      display: inline-block;
      margin-#{$right}: 0.9375rem;
    }
  }

  .list {
    margin-top: 0;

    li {
      text-transform: capitalize;
    }
  }
}
