@use '../../styles/variables' as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: map-get($map: $colors, $key: white);
  padding: 10px;
  width: 100%;

  @include smMax {
    flex-direction: column;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .row {
    .icon {
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }

    .welcome {
      text-transform: capitalize;
      margin-#{$left}: 20px;
    }
  }

  .row {
    .search {
      display: flex;
      align-items: center;
      position: relative;

      @include exmMax {
        margin-bottom: 20px;
      }

      .search-icon {
        position: absolute;
        left: 10px;
      }

      input {
        padding: 10px;
        border-radius: 20px;
        padding-#{$left}: 40px;

        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: rgb(12, 186, 186);

      > * {
        cursor: pointer;
        display: inline-block;
      }

      .icon {
        width: 40px;
        padding: 10px;
        position: relative;

        > .number {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          background-color: map-get($map: $colors, $key: main);
          border: 1px solid white;
          color: white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          top: 0;
          #{$right}: -5px;
        }
      }

      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}
