@use '../../styles/variables' as *;

.form-container {
  text-align: center;
  max-width: calc(20rem + 1.25rem * 2);

  ul {
    text-align: start;
    color: map-get($map: $colors, $key: main-black);
    counter-reset: errors;

    li {
      margin-bottom: 10px;
      &::before {
        color: map-get($map: $colors, $key: main-red);
        counter-increment: errors;
        content: 'Error ' counter(errors) ': ';
        font-weight: bold;
      }
    }
  }

  .heading {
    h1 {
      font-size: 2rem;
    }
  }

  .form {
    .input-control {
      margin-bottom: 0.625rem;

      &:nth-last-child(2) {
        margin-bottom: 1.25rem;
      }

      input {
        padding: 0.625rem;
        border-radius: 0.625rem;
        min-width: 20rem;
      }

      p {
        text-transform: capitalize;
        user-select: none;

        span {
          color: map-get($map: $colors, $key: main-blue);
          cursor: pointer;
        }
      }
    }
  }
}
